*{
    margin: 0 0 ;
    padding: 0 0;
}
h1,div{
    width: 800px;
    margin: 0 auto;
}

h1{
    font: 2em;
    color: black;
    line-height: 1;
    padding: 10px 0;
}
/*左侧*/
.left {
    border: 1px dotted #cccccc;
    padding: 20px;
	margin-bottom:  20px;
}

.left>h3{
    font: 1em;
    line-height: 1;
    border-bottom: 2px solid #0088bb;
    padding-bottom: 10px;
}
.left>ul{
	list-style: none;
}
.left>ul>li {
	display: inline;
}

.left>ul>li>a>img{
    width: 230px;
    height: 230px;
    border: none;
    padding: 10px;
}

/*右侧*/
.right{
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: 420px;
}
.right>ul {
	list-style: none;
}
.right>ul>li>a{
    text-decoration: none;
    display: block;
    width: 80px;
    line-height: 1.8;
    color: black;
    text-align: center;
}
.right>ul>li>a.active {
	background-color: aqua;
    
}
